*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #5a5a5a;
}

img{
	cursor: pointer;
}

.flex-div{
	display: flex;
	align-items: center;
}

/*------------NAVEGACION-------------*/

nav{
	padding: 10px 2%;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 10;
}

.nav-derecha img{
	width: 25px;
	margin-right: 25px;
}

.nav-derecha .usuario-icono{
	width: 35px;
	border-radius: 50%;
	margin-right: 0;
	height: 30px;
}

.nav-izquierda .menu-icono{
	width: 22px;
	margin-right: 25px;
}

.nav-izquierda .logo{
	width: 130px;
	cursor: pointer;
}

.nav-medio .mic-icono{
	width: 16px;
}

.nav-medio .busqueda-box{
	border: 1px solid #ccc;
	margin-right: 15px;
	padding: 8px 12px;
	border-radius: 25px;
}

.nav-medio .busqueda-box input{
	width: 400px;
	border: 0;
	outline: 0;
	background-color: transparent;
}

.nav-medio .busqueda-box img{
	width: 15px;
}

.sidebar{
	background-color: #fff;
	width: 15%;
	height: 100vh;
	position: fixed;
	top: 0;
	padding-left: 2%;
	padding-top: 80px;
}

.shortcut-links a img{
	width: 20px;
	margin-right: 20px;
}

.shortcut-links a{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: fit-content;
	flex-wrap: wrap;
}

.shortcut-links a:first-child{
	color: #ed3833;
}

/*--------SIDEBAR--------*/

.sidebar hr{
	border: 0;
	height: 1px;
	background-color: #ccc;
	width: 85%;
}

.lista-suscripciones h3{
	font-size: 13px;
	margin: 20px 0;
	text-transform: uppercase;
	color: #5a5a5a;
}

.lista-suscripciones a{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: fit-content;
	flex-wrap: wrap;
}

.lista-suscripciones a img{
	width: 25px;
	border-radius: 50%;
	margin-right: 20px;
}

.small-sidebar{
	width: 5%;
}

.small-sidebar a p{
	display: none;
}

.small-sidebar h3{
	display: none;
}

.small-sidebar hr{
	width: 50%;
	margin-bottom: 25px;
}

/*---------MENU--------*/

.container{
	background-color: #f9f9f9;
	padding-left: 17%;
	padding-right: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.large-container{
	padding-left: 7%;
}

.banner img{
	width: 100%;
	border-radius: 8px;
}

.lista-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-column-gap: 16px;
	grid-row-gap: 30px;
	margin-top: 15px;
}

.lista-video .thumbnail{
	width: 100%;
	border-radius: 5px;
}

.lista-video .flex-div{
	align-items: flex-start;
	margin-top: 7px;
}

.lista-video .flex-div img{
	width: 35px;
	margin-right: 10px;
	border-radius: 502%;
}

.info-video{
	color: #5a5a5a;
	font-size: 13px;
}

.info-video a{
	color: #000;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
}

/*LAPTOP lg*/

@media (max-width: 900px)  {
	.menu-icono{
		display: none;
	}
	.sidebar{
		display: none;
	}
	.container, .large-container{
		padding-left: 5%;
		padding-right: 5%;
	}
	.nav-derecha img{
		display: none;
	}
	.nav-derecha .usuario-icono{
		display: block;
		width: 30px;
	}
	.nav-medio .busqueda-box input{
		width: 100px;
	}
	.nav-medio .mic-icono{
		display: none;
	}
	.logo{
		width: 90px;
	}
}


/* play-video.html*/
.play-container{
	padding-left: 2%;
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.play-video{
	flex-basis: 69%;
}

.derecha-sidebar{
	flex-basis: 30%;
}

.play-video video{
	width: 100%;
}

.side-lista-video{
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.side-lista-video img{
	width: 100%;
}

.side-lista-video .small-thumbnail{
	flex-basis: 49%;
}

.side-lista-video .info-video{
	flex-basis: 49%;
}

/*tags*/

.play-video .tags a{
	color: #0000ff;
	font-size: 13px;
}

.play-video h3{
	font-weight: 600;
	font-size: 22px;
}

.play-video .play-video-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	font-size: 14px;
	color: #5a5a5a;
}

.play-video .play-video-info a img{
	width: 20px;
	margin-right: 8px;
}

.play-video .play-video-info a{
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
}

.play-video hr{
	border: 0;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
}

/*publicaciones*/

.publicasiones{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.publicasiones div{
	flex: 1;
	line-height: 18px;
}

.publicasiones img{
	width: 40px;
	border-radius: 50%;
	margin-right: 15px;
}

.publicasiones div p{
	color: #000;
	font-weight: 600;
	font-size: 18px;
}

.publicasiones div span{
	font-size: 13px;
	color: #5a5a5a;
}

.publicasiones button{
	background-color: red;
	color: #fff;
	padding: 8px 30px;
	border: 0;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
}

.video-descripciones{
	padding-left: 55px;
	margin: 15px 0;
}

.video-descripciones p{
	font-size: 14px;
	margin-bottom: 5px;
	color: #5a5a5a;
}

.video-descripciones h4{
	font-size: 14px;
	color: #5a5a5a;
	margin-top: 15px;
}

.add-comentarios{
	display: flex;
	align-items: center;
	margin: 30px 0;
}

.add-comentarios img{
	width: 35px;
	border-radius: 50%;
	margin-right: 15px;
}

.add-comentarios input{
	border: 0;
	outline: 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding-top: 10px;
	background-color: transparent;
}

/*comantados*/

.comentados{
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.comentados img{
	width: 35px;
	border-radius: 50%;
	margin-right: 15px;
}

.comentados h3{
	font-size: 14px;
	margin-bottom: 2px;
}

.comentados h3 span{
	font-size: 12px;
	color: #5a5a5a;
	font-weight: 500;
	margin-left: 8px;
}

.comentados .accion-comentado{
	display: flex;
	align-items: center;
	margin: 8px 0;
	font-size: 14px;
}

.comentados .accion-comentado img{
	border-radius: 0;
	width: 20px;
	margin-right: 5px;
}

.comentados .accion-comentado span{
	margin-right: 20px;
	color: #5a5a5a;
}

.comentados .accion-comentado a{
	color: #0000ff;
}


@media (max-width: 900px){
	.play-video{
		flex-basis: 100%;
	}
	.derecha-sidebar{
		flex-basis: 100%;
	}
	.play-container{
		padding-left: 5%;
	}
	.video-descripciones{
		padding-left: 0;
	}
	.play-video .play-video-info a{
		margin-left: 0;
		margin-right: 15px;
		margin-top: 15px;
	}
}
